@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Open+Sans:wght@300;400;600&display=swap');
@import "./app/styles/variables";

// Reset básico
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-body;
}
